/* Footer */
.footer {
  margin-top: 32px;
  font-family: CabinRegular;
  color: #ffffff;
  background: #323232;
}
.footer__title {
  margin: 28px auto 20px;
  font-family: CabinBold;
  font-size: 30px;
  vertical-align: middle;
}
.footer__title > .fa {
  display: none;
  font-size: 17px;
  float: right;
  margin: 10px 28px;
}
.footer__phone {
  font-size: 16px;
  line-height: 25px;
}
.footer__email {
  font-size: 16px;
  line-height: 25px;
}
.footer__addr {
  font-size: 16px;
  line-height: 17px;
}
.footer__opening-times {
  font-size: 16px;
  color: #ffffff;
}
.footer__opening-times-day,
.footer__opening-times-time {
  line-height: 25px;
}
.footer__newsletter-text {
  font-size: 16px;
  line-height: 24px;
  text-align: right;
}
.footer__subscribe-form {
  margin-top: 10px;
  text-align: right;
  border-radius: 5px;
}
.footer__subscribe-field {
  width: 66%;
  padding: 9px;
  font-size: 16px;
  color: #323232;
}
.footer__subscribe-btn {
  padding: 6px 19px;
  margin-bottom: 10px;
  border: 0;
  border-radius: 0;
  font-size: 20px;
  color: #ffffff;
  background: #a31836;
}
.footer__subscribe-btn:hover {
  background: #bd1d3f;
  color: #ffffff;
}
.footer__social {
  margin-top: 6px;
  font-size: 34px;
  text-align: right;
}
.footer__social .fa {
  display: inline-block;
  margin-left: 11px;
}
.footer__social .fa:hover {
  color: #a31836;
  cursor: pointer;
}
.footer__copyright {
  margin-top: 12px;
  padding: 10px 0;
  background: #2b2b2b;
  font-size: 16px;
  letter-spacing: 0.3px;
  line-height: 24px;
  text-align: center;
}
.footer__copyright_textpink {
  color: #a31836;
}
.footer__subscribe > .footer__title {
  text-align: right;
}
@media (max-width: 991px) and (min-width: 769px) {
  .footer {
    margin-top: 18px;
  }
  .footer__inbox {
    width: 100%;
  }
  .footer__title {
    margin: 15px auto;
  }
  .footer__column-content {
    margin: 0px -15px;
    padding: 25px 90px;
    background: #2b2b2b;
  }
  .footer__social {
    margin-top: 45px;
  }
  .footer__copyright {
    margin-top: 25px;
  }
  .footer__social,
  .footer__subscribe-form,
  .footer__newsletter-text {
    text-align: center;
  }
  .footer__column:last-child > .footer__title {
    text-align: left;
  }
  .footer__title:hover {
    cursor: pointer;
  }
}
@media (max-width: 768px) {
  .footer {
    margin-top: 15px;
  }
  .footer__title {
    margin: 15px auto 30px;
    padding: 0 15px;
    letter-spacing: -1px;
  }
  .footer__title:hover {
    cursor: pointer;
  }
  .footer__column:last-child > .footer__title {
    text-align: left;
  }
  .footer__column {
    padding-left: 0px;
    padding-right: 0px;
  }
  .footer__column-content {
    padding: 10px 35px 22px;
    letter-spacing: 1px;
    background: #2b2b2b;
  }
  .footer__social {
    margin-top: 50px;
    margin-bottom: 10px;
    text-align: center;
  }
  .footer__copyright {
    padding: 10px 30px 10px;
  }
}
