/* TEXT BLOCK */
.text {
  color: #323232;
}
.text__title {
  margin: 48px auto 28px;
  font-family: CabinBold;
  font-size: 45px;
  line-height: 52px;
}
.text__content {
  font-family: CabinRegular;
  font-size: 18px;
  line-height: 24px;
}
@media (max-width: 991px) and (min-width: 769px) {
  .text {
    padding: 0;
    text-align: justify;
  }
  .text__title {
    margin: 28px auto 18px;
    text-align: center;
  }
}
@media (max-width: 768px) {
  .text {
    padding: 15px;
    letter-spacing: -0.15px;
    text-align: justify;
    text-align-last: center;
  }
  .text__title {
    margin: 25px auto 26px;
    text-align: center;
  }
}
